@import "../../components/GlobalStyles/variables";

.cartContainer {
  margin-top: 40px;
  margin-bottom: 100px;
}

.rowOrder {
  justify-content: space-between;
}

.btnBack {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;

  button {
    font-size: 1.8rem;
    font-weight: 600;
    border: 0px;
    background-color: $primary-color;
    color: $black-color;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  padding-top: 10px;
}

.image__no__item {
  text-align: center;
  h1 {
    background-color: $white-color;
    font-size: 2.2rem;
    margin-bottom: 30px;
  }
  img {
    width: 30%;
  }
}

.itemLeft {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.imageWrapper {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
  }
}

.itemInfo {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  font-size: 2rem;
  width: 100%;

  .itemName {
    font-weight: bold;
    text-transform: uppercase;
    color: $black-color;
    margin: 10px 0px 10px 0px;
  }

  .itemType {
    font-size: 1.6rem;
    margin: 0px;
    color: $hide-color;
    font-weight: 500;
  }

  .itemQuantity {
    font-size: 1.6rem;
    margin: 5px 0px 0px 0px;
    color: $hide-color;
    font-weight: 500;
  }

  .itemPrice {
    color: $black-color;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 10px;
  }
}

.orderSummary {
  border: 1px solid #e6e6e6;
  border-radius: 16px;
  padding: 20px 24px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 100px;

  h3 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #111;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
}

.orderInfo {
  p {
    margin: 10px 0;
    font-size: 1.4rem;
    color: #333;
    line-height: 1.5;

    strong {
      color: #000;
      font-weight: 600;
      margin-right: 4px;
      display: inline-block;
      min-width: 80px;
    }
  }
}

.orderTotal {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 15px;

  p {
    font-size: 1.8rem;
    font-weight: 700;
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
