@import "../../../components/GlobalStyles/variables";

.btnBack {
  display: inline-block;
  font-size: 1.6rem;
  color: $black-color;
  text-decoration: none;
  font-weight: 600;
  margin: 20px 32px;
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 8px 16px;

  &:hover {
    background: #4caf50;
    color: #fff;
    transform: translateX(-3px);
  }
}

.employeeForm {
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      margin-bottom: 6px;
      font-weight: 600;
      color: $text-color;
      font-size: 1.4rem;
    }

    input,
    select {
      padding: 8px 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;

      &:focus {
        border-color: $black-color;
        outline: none;
      }
    }
  }

  .submitBtn {
    width: 100%;
    padding: 10px;
    background: $black-color;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
}

.submitBtn.disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  p {
    margin-bottom: 15px;
    font-size: 16px;
  }

  button {
    background: $primary-color;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background: $hide-color;
    }
  }
}
