PORT=5000
MONGO_URI=mongodb+srv://tuanbuicode_db_user:12122003@sevenstore.xmkf4si.mongodb.net/SevenStore?retryWrites=true&w=majority
ACCESS_TOKEN_SECRET=afe70dbe-128e-4e78-82fd-7e24546d711d
JWT_EXPIRES_IN=1h
VNP_TMNCODE=45Z02A87
VNP_HASHSECRET=PH48F4C8S7Z3GM2UJCWIODKW3HJ7MQPR
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURNURL=https://seven-store-steel.vercel.app/