@import "../../../GlobalStyles/variables";

.header {
  display: block;
  height: auto;
}

.header_top {
  height: $header-top-height;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.logo {
  letter-spacing: 10px;
  font-size: 4rem;
  font-weight: 500;
  text-decoration: none;
  color: $black-color;

  @media (max-width: 739px) {
    font-size: 3rem;
    letter-spacing: 5px;
  }
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  height: $navbar-height;
  background-color: $black-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: top 0.5s ease;
  padding: 0 10px;
}

.nav_list {
  display: flex;
  text-align: center;
  list-style: none;
  margin: 0px 1.4rem;
  padding: 0px;

  @media (min-width: 1024px) {
    &:hover .nav_item {
      opacity: 0.4;
    }
    .nav_item:hover {
      opacity: 1 !important;
    }
  }
}

.nav_item {
  position: relative;
  display: flex;
  align-items: center;
  height: $navbar-height;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $white-color;
  padding: 0px 18px;
  text-decoration: none;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.nav_item_primary {
  color: $primary-color !important;
}

.nav_right {
  display: flex;
  align-items: center;
  margin-right: 32px;

  @media (max-width: 739px) {
    margin-right: 10px;
  }

  i {
    color: $white-color;
    font-size: 1.8rem;
    margin-left: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    @media (max-width: 739px) {
      margin-left: 15px;
      font-size: 1.6rem;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.nav_search {
  position: relative;
  transition: all 0.3s ease;

  .nav_search_input {
    height: 32px;
    width: 220px;
    border-radius: 14px;
    padding: 10px 35px 10px 15px;
    border: 0px;
    outline: none;
    font-size: 1.4rem;
  }

  .nav_search_icon {
    color: $black-color;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;

    i {
      color: $black-color;
      margin: 0;
      font-size: 1.4rem;
    }
  }
}

.mobile_search_btn {
  background: none;
  border: none;
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }
}

.nav_left_icon {
  display: none;

  .btn_menu {
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 10px;
  }

  @media (max-width: 1023px) {
    display: flex;
    align-items: center;
  }
}

.nav_brands {
  &:hover .nav_list_brands {
    display: flex;
  }
}

.nav_list_brands {
  display: none;
  width: 450px;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: $white-color;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 16px;
  flex-wrap: wrap;
  z-index: 100;

  li {
    width: 50%;
    padding: 5px;
  }
}

.nav_item_brands {
  display: block;
  text-decoration: none;
  color: $text-color;
  padding: 10px 10px;
  font-size: 1.6rem;
  border-radius: 4px;
  font-weight: 700;

  &:hover {
    background-color: #f5f5f5;
    color: $primary-color;
  }
}

.cart_badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: $primary-color;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 1rem;
  font-weight: bold;
}

.header_cart {
  position: relative;

  .header_cart_wrapper {
    display: none;
    width: 350px;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: $white-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 100;
    padding: 15px;

    &::after {
      content: "";
      position: absolute;
      top: -8px;
      right: 5px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid white;
    }
  }

  &:hover .header_cart_wrapper {
    display: block;
  }
}

.link_cart {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  font-size: 1.3rem;
  color: $primary-color;

  &:hover {
    opacity: 0.4;
  }
}

.header_user {
  position: relative;
  .user_list {
    display: none;
    position: absolute;
    width: 250px;
    top: calc(100% + 6px);
    right: -12px;
    z-index: 10;
    background-color: $white-color;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 8px;
    li {
      font-size: 1.3rem;
      color: $text-color;
      font-weight: 500;
      list-style: none;

      .user_item {
        display: block;
        text-decoration: none;
        font-size: 1.6rem;
        color: $black-color;
        font-weight: 400;
        width: 100%;
        padding: 10px 8px 12px 8px;
        border-radius: 3px;

        &:hover {
          background-color: $border-color;
        }
      }
      .user_login {
        width: 100%;
        background-color: $primary-color;
        color: $white-color;
        padding: 10px 8px;
        border-radius: 5px;
        text-align: center;
        font-weight: 600;
        margin-top: 8px;

        &:hover {
          background-color: $text-color;
          opacity: 0.3;
        }
      }
      .user_register {
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: $black-color;
      }
    }

    .user_title {
      padding: 8px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -32px;
      right: 6px;
      border-width: 18px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
    }
  }

  &:hover .user_list {
    display: block;
  }
}

.cartList {
  max-height: 300px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: inherit;

  &:hover {
    background-color: #f9f9f9;
  }

  &:last-child {
    border-bottom: none;
  }
}

.cartImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
  margin-left: 2px;
}

.cartInfo {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 1.4rem;
  color: #555;
}

.cartInfoLeft {
  display: flex;
  flex-direction: column;
}

.cartInfoRight {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 5px;
}

.cartName {
  font-weight: 600;
  color: #222;
}

.cartSize,
.cartQuantity {
  font-size: 1.3rem;
  color: #666;
}

.cartPrice {
  font-weight: 500;
  color: #222;
  font-size: 1.6rem !important;
}

.heading_cart {
  margin: 0px 0px 10px 0px;
  font-size: 1.3rem;
  opacity: 0.5;
}

.cart_no_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  .img_cart_no_item {
    width: 100%;
  }

  span {
    font-size: 1.3rem;
    margin-top: 5px;
  }
}

@media (max-width: 1023px) {
  .nav_list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $white-color;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 10px 0;
    text-align: left;

    &.show {
      display: flex;
    }

    .nav_item {
      color: $black-color;
      height: auto;
      padding: 15px 20px;
      border-bottom: 1px solid #eee;

      &:hover {
        background-color: #f5f5f5;
        color: $primary-color !important;
      }
    }

    .nav_brands {
      flex-direction: column;
      align-items: flex-start;
      height: auto;

      &:hover .nav_list_brands {
        display: flex;
        position: relative;
        box-shadow: none;
        width: 100%;
        padding-left: 20px;
        top: 0;
      }

      i {
        float: right;
      }
    }
  }

  .nav_search {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: $black-color;
    z-index: 998;

    &.show_mobile_search {
      display: flex;
      justify-content: center;
    }

    .nav_search_input {
      width: 90%;
    }
  }
}
